.product-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /* Aumenta el ancho máximo para que entren las dos columnas */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  gap: 20px; /* Espacio entre las columnas */
}

.column {
  flex: 1 1 45%; /* Ocupan 45% cada columna, permitiendo espacio entre ellas */
  min-width: 250px; /* Ancho mínimo */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

.image-input-group {
  margin-bottom: 10px;
}

.add-image-btn {
  margin-top: 10px;
}

@media (max-width: 768px) {
  /* Para pantallas más pequeñas, las columnas se apilan en una sola */
  .product-form {
    flex-direction: column;
  }

  .column {
    flex-basis: 100%; /* Cada columna ocupará todo el ancho en pantallas pequeñas */
  }
}
