.product-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.product-table th:nth-child(5),
.product-table th:nth-child(6),
.product-table td:nth-child(5),
.product-table td:nth-child(6) {
  max-width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-table th {
  font-weight: bold;
}

.product-table tr:nth-child(even) {
  background-color: #81b8b4;
}

.product-table tr:hover {
  background-color: #ddd;
}

.product-table td button {
  margin-right: 10px;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: nowrap;
}

.pagination-wrapper button {
  margin: 0 20px;
  width: 30%;
  flex-grow: 1;
}

.pagination-info {
  margin: 0 10px;
}