.gender-button {
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .gender-button.active {
    background-color: #dcdcdc;
  }
  
  .gender-button:hover {
    background-color: #c0c0c0;
  }
  
  .dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(225, 217, 217, 0.1);
    padding: 10px;
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    padding: 5px 0;
  }
  