* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    
    color: #1a1717;
  }

.App {
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: radial-gradient(circle at top left, #c3c3d6, #537fab, #8740ba);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #6a0dad;
}

button {
    background-color: #1e90ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a0dad;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

h1,
h2,
h3 {
    color: #10161c;
    margin-bottom: 20px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #1e90ff;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #6a0dad;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    color: #1e90ff;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination li a:hover {
    background-color: #6a0dad;
    color: white;
}

footer {
    background-color: #1e90ff;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    button {
        width: 100%;
    }
}