.profile-button {
    width: 12%;
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    width: 100%;
    position: absolute;
    background-color: #6dd67b;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.logout-button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.logout-button:hover {
    background-color: #ddd;
}